.fondo {
    background-image: url("/FondoInicioSesion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
}

html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Sirve para que no aparezca la barrita de scrollear */
}

.logo {
  font-family: var(--font-rubik-one);
  font-size: 100px;
  font-weight: 900;
  line-height: 0.9;
  display: flex;
  align-items: center;
  letter-spacing: -4px;
  position: absolute;
  top: 40px;
  left: 160px;
}

.blanco,
.amarillo {
  display: inline-block;
 -webkit-text-stroke: 4px #000;  /* borde negro */
  paint-order: stroke fill;
  text-shadow: none; /* sacamos la sombra */
}

.blanco {
  color: #ffffff;
}

.amarillo {
  color: #ffd32a;
  margin-left: 5px;
}

.gorilaSaludando {
 background-image: url("/Gorilainicio.png");
 width: 550px;
 height: 550px;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 
 position: absolute;
 top: 100px;
 left: 75px;
}

.container {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  right: 35px;
  top: 40px;
}

p {
  color: black;
}

h2 {
  color: #0042AD;
  font-family: var(--font-baloo);
   font-size: 50px;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
}
